<h2> Hi <%= @user.username.titleize %>, here are your recipes:</h2>

<a href="/custombeverages/new">New Beverage</a>

<% @user.custom_beverages.each do |beverage|%>
  <ul>
   <%= beverage.title %>
  </ul>
<%end%>

<li><a href="/logout">Logout</a></li>
<li><a href="/">Home</a></li>
