<h2> Login </h2>
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<form action="/login" method="POST">

  <label>Email</label><br>
  <input type="email" name='email'><br>
  <br>
  <label>Password</label><br>
  <input type="password" name='password'><br>
  <br>
  <input type="submit" value="Login">

</form>

<a href="/signup">Signup</a><br>
<a href="/">Home</a>
