<h2> Login </h2>

<form action="/login" method="POST">

  <label>Email</label><br>
  <input type="text" name='email'><br>
  <br>
  <label>Password</label><br>
  <input type="text" name='password'><br>
  <br>
  <input type="submit" value="Login">

</form>

<a href="/signup">Signup</a><br>
<a href="/">Home</a>
