<h2>New Beverage:</h2>

<form action="/custombeverages" method="POST">

  <label>Beverage Name:</label><br>
  <input type="text" name='title'><br>
  <br>
  <label>Description:</label><br>
  <input type="text" name='content'><br>
  <br>
  <input type="submit" value="Submit">

</form>
