<h2>New Beverage:</h2>

<form action="/newbeverage" method="POST">

  <label>Beverage Name:</label>
  <input type="text" name='title'>

  <label>Description:</label>
  <input type="text" name='content'>

  <input type="submit" value="Submit">

</form>
