<p><strong> <%= @beverage.title %> </strong></p>
<br>
<p> <%= @beverage.content %> </p>

<form method="post" action="/custombeverages/<%=@beverage.slug%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Beverage">
</form>

<a href="/custombeverages/<%=@beverage.slug%>/edit">Edit beverage</a>
